.box-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box-header p {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 12px;
  font-weight: bold;
}

/* Section Tutoriais */

#tutoriais {
  /* background-color: red; */
  margin-top: 60px;
}

#tutoriais .content-tutoriais {
  /* background-color: coral; */
  width: 80%;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

#tutoriais .content-tutoriais .box-1 {
  /* background-color: white; */
  width: 40%;
  margin: 0 auto;
}

#tutoriais .box-tutos {
  height: 40px;

  background-color: #000080;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid white 3px;
  margin-bottom: 20px;

  margin: 0 auto;
}

#tutoriais .box-tutos:hover {
  background-color: #0000cd;
}

#tutoriais .box-tutos a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
}

/* Section Tutoriais Fim */

/* -------------------- MEDIA QUERIES  */

/* Mobile */

@media (max-width: 1080px) {
  #tutoriais .content-tutoriais {
    /* background-color: yellowgreen; */
    width: 100%;
    flex-direction: column;
  }
  #tutoriais .content-tutoriais .box-1 {
    background-color: red;
    width: 70%;
  }
  #tutoriais .box-tutos {
    width: 100%;
  }
  #tutoriais .box-tutos a {
    text-align: center;
    font-size: 12px;
    padding: 3px;
  }
}
